{% extends 'base.html.twig' %}
    {% block body %}
        <a href="/fichas" class="btn btn-default">< Volver</a>
        <h2 class="page-header">Editar Ficha</h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    {% endblock %}