<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}Podologia{% endblock %}</title>    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  </head>
  <body>    
    <div class="navWrapper d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
      <a href="/" class="my-0 mr-md-auto font-weight-normal">Sandra S.C</a>
      <nav class="navContent my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/pacientes">Pacientes</a>
        <a class="p-2 text-dark" href="/vademecum">Vademecum</a>
        <a class="p-2 text-dark" href="/turnos">Turnos</a>
        <a class="p-2 text-dark" href="/fichas">Fichas Médicas</a>
      </nav>
      <a class="btn btn-outline-primary" href="/login">Entrar</a>
    </div>    
    <div>      
      {% if app.session.flashbag.has('error')%}
        {% for flash_message in app.session.flashbag.get('error')%}
          <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}
      {% endif %}
      {% if app.session.flashbag.has('notice')%}
        {% for flash_message in app.session.flashbag.get('notice')%}
          <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}        
      {% endif %}
      {% block body %}{% endblock %}    
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>
