{% extends 'base.html.twig' %}
	{% block body %}
		<header id="Header" class="grid">
				<div class="headerImg"></div>
				<div class="HeaderContent col-md-10">
					<h1>Sandra Santa Cruz Podoterapeuta</h1>
					<h3>Atención Integral del Pie</h3>
				</div>
		</header>
		<!-- Contenido -->
		<main id="main-contenido">
			<!-- Sección Info Masajes -->
			<section id="Info-masajes" class="grid">
				<h2 class="Info-titulo"> Masajes en gabinete con productos de primera calidad</h2>
				<div class="Info-texto">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra,
					per inceptos himenaeos. Morbi maximus id turpis eu congue.
					Nam elementum vestibulum metus, eu bibendum metus efficitur vel.
					In condimentum nisi non.</p>
				</div>
			</section>
			<!-- Sección Cartas Servicios -->
			<section id="Servicios" class="grid">
				<h1 class="text-center">Servicios</h1>
				<div class="container pt-5 pb-5">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img1 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  				</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img2 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  				</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img3 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  				</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="Personal" class="grid">
				<div class="Contacto-content">
					<h2 class="Contacto-title">Contacto</h2>
					<p>- sandra.eloisa946@gmail.com</p>
				</div>
				<div class="About-content">
					<h2 class="Acerca-title">Acerca de</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Curabitur tempor dolor non risus convallis commodo.
						Suspendisse lorem tortor, euismod ut iaculis a,
						aliquam vitae magna. Sed in maximus velit.
					</p>
				</div>
			</section>
		</main>
		<footer class="Footer">
			<p>Masoterapeuta y Podologa Sandra Santa Cruz &copy</p>
		</footer>		
	{% endblock %}