{% extends 'base.html.twig' %}	
	{% block body %}
		<header id="Header" class="grid">			
				<div class="headerImg"></div>
				<div class="content-wrap">
					<h1>Sandra Santa Cruz Podoterapeuta</h1>
					<h3>Masajes Descontracturantes | Drenaje Linfático </h3>
				</div>
		</header>
		<!-- Contenido -->
		<main id="main-contenido">
			<!-- Sección Info Masajes -->
			<section id="Info-masajes" class="grid">
				<div class='content-wrap'>
					<h2 class="Info-titulo"> Masajes en gabinete con productos de primera calidad</h2>
					<div class="Info-texto">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra,
						per inceptos himenaeos. Morbi maximus id turpis eu congue.
						Nam elementum vestibulum metus, eu bibendum metus efficitur vel.
						In condimentum nisi non.</p>
					</div>
				</div>
			</section>
			<!-- Sección Cartas Servicios -->
			<section id="Servicios" class="grid">
				<ul>
					<li>
						<div class="card">
							<div class="card-img1"></div>							
							<div class="card-content">
								<h3 class="card-title">Masajes Descontracturantes</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="card-img2"></div>
							<div class="card-content">
								<h3 class="card-title">Drenaje Linfático</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="card-img3"></div>
							<div class="card-content">
								<h3 class="card-title">Uso de piedras calientes</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
							</div>
						</div>
					</li>
				</ul>
			</section>
			<section id="Personal" class="grid">
				<div class="box">
					<h2 class="Contacto-title">Contacto</h2>
					<p>- sandra.eloisa946@gmail.com</p>
					<p>- 3764-367878</p>
				</div>			
				<div class="box">
					<h2 class="Acerca-title">Acerca de</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Curabitur tempor dolor non risus convallis commodo.
						Suspendisse lorem tortor, euismod ut iaculis a,
						aliquam vitae magna. Sed in maximus velit.
						Proin interdum, tortor vitae tincidunt vestibulum,
						massa nisi finibus ligula, vel mollis turpis sapien id orci.
						Vestibulum consectetur finibus maximus. Nam.
					</p>
				</div>
			</section>
		</main>
		<footer id="main-footer" class="grid">
			<div>Masoterapeuta y Podologa Sandra Santa Cruz &copy</div>
			<div><a href='http://www.twitter.com/EnzoDarling' target='_blank'>Aguiar Enzo Nicolás</a><div>
		</footer>		
	{% endblock %}