{% extends 'base.html.twig' %}
	{% block body %}
		<header id="Header" class="grid">
				<div class="headerImg"></div>
				<div class="HeaderContent col-md-10">
					<h1>Sandra Santa Cruz Podoterapeuta</h1>
					<h3>Atención Integral del Pie</h3>
				</div>
		</header>
		<!-- Contenido -->
		<main id="main-contenido">
			<!-- Sección Info Masajes -->
			<section id="Info-masajes" class="grid">
				<h2 class="Info-titulo">Tratamientos de uñas y pies diabéticos</h2>
				<div class="Info-texto">
					<p>Los pies son la parte del cuerpo que más cuidado requieren ya que se encuentran en constante
					riesgo a hongos, deformaciones en las uñas y grietas en los talones. Un pie con falta de atención
					puede dar enfermedades graves aún más con pacientes en estado de salúd delicado.</p>
				</div>
			</section>
			<!-- Sección Cartas Servicios -->
			<section id="Servicios" class="grid">
				<h1 class="text-center">Servicios</h1>
				<div class="container pt-5 pb-5">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img1 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">A menudo el número de calzado erroneo ocasiona heridas y deformaciones en pies y uñas.</p>
			  				</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img2 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">Para una mejor regeneración del pie es conveniente realizar masajes en zonas claves.</p>
			  				</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card" style="width: 18rem;">
			  				<div class="card-img-top card-img3 cardItem"></div>
			  				<div class="card-body">
			    				<p class="card-text">En nuestros pies se centran los nervios y es primordial dar un buen cuidado en ellos.</p>
			  				</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="Personal" class="grid">
				<div class="Contacto-content">
					<h2 class="Contacto-title">Contacto</h2>
					<p>- sandra.eloisa946@gmail.com</p>
				</div>
				<div class="About-content">
					<h2 class="Acerca-title">Acerca de</h2>
					<p>
						Ofrecemos una atención en gabinete con productos con efectivos resultados, tratamientos de onicomicosis, onicocriptosis y 
						talones en mal estado.
					</p>
				</div>
			</section>
		</main>
		<footer class="Footer">
			<p>Podoterapeuta Sandra Santa Cruz &copy</p>
		</footer>		
	{% endblock %}