{% extends 'base.html.twig' %}	
	{% block body %}
		<header id="Header" class="grid">			
				<div class="headerImg"></div>
				<div class="HeaderContent col-md-10">
					<h1>Sandra Santa Cruz Podoterapeuta</h1>
					<h3>Masajes Descontracturantes | Drenaje Linf치tico </h3>
				</div>
		</header>
		<!-- Contenido -->
		<main id="main-contenido">
			<!-- Secci칩n Info Masajes -->
			<section id="Info-masajes" class="grid">
				<h2 class="Info-titulo"> Masajes en gabinete con productos de primera calidad</h2>
				<div class="Info-texto">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Fusce ut semper augue. Nulla vulputate justo eu vestibulum rutrum.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra,
					per inceptos himenaeos. Morbi maximus id turpis eu congue.
					Nam elementum vestibulum metus, eu bibendum metus efficitur vel.
					In condimentum nisi non.</p>
				</div>
			</section>
			<!-- Secci칩n Cartas Servicios -->
			<section id="Servicios" class="grid">
				<div class="container">
					<div class="row">
						<div class="card col-md-4 justify-content-between">
		  				<div class="card-img-top card-img1 cardItem"></div>
		  				<div class="card-body">
		    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  				</div>
						</div>
						<div class="card col-md-4">
		  				<div class="card-img-top card-img2 cardItem"></div>
		  				<div class="card-body">
		    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  				</div>
						</div>
						<div class="card col-md-4">
		  				<div class="card-img-top card-img3 cardItem"></div>
		  				<div class="card-body">
		    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  				</div>
						</div>
					</div>
				</div>
			</section>
			<section id="Personal" class="grid">
				<div class="box">
					<h2 class="Contacto-title">Contacto</h2>
					<p>- sandra.eloisa946@gmail.com</p>
					<p>- 3764-367878</p>
				</div>			
				<div class="box">
					<h2 class="Acerca-title">Acerca de</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Curabitur tempor dolor non risus convallis commodo.
						Suspendisse lorem tortor, euismod ut iaculis a,
						aliquam vitae magna. Sed in maximus velit.
						Proin interdum, tortor vitae tincidunt vestibulum,
						massa nisi finibus ligula, vel mollis turpis sapien id orci.
						Vestibulum consectetur finibus maximus. Nam.
					</p>
				</div>
			</section>
		</main>
		<footer id="main-footer" class="grid">
			<div>Masoterapeuta y Podologa Sandra Santa Cruz &copy</div>
			<div><a href='http://www.twitter.com/EnzoDarling' target='_blank'>Aguiar Enzo Nicol치s</a><div>
		</footer>		
	{% endblock %}