body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
#Header{
	min-height: 450px;
}
.HeaderContent{
	background-color: rgba(255,255,255,0.5);
	height: 200px;
	margin: 0 auto;
	top: 100px;
	text-align: center;
	border-radius: 10px;
}
.HeaderContent h1, .HeaderContent h3{
	padding: 15px;
}
.BgHeader{
	text-align: center;
}
.headerImg{
	position: absolute;
	background: linear-gradient(rgba(59,134,134,0.6),rgba(59,134,134,0.6)), url("../bundles/app/images/massage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: -1;	
}
.content-wrap{
	height: 100vh;
}
.content-wrap h1{
	padding-top: auto;
}
.Header-content{
	height: 100%;
	margin: 0;
	position: relative;
	color: #fff;
	padding-top: 200px;
	font-weight: 600;
	z-index: 1;
}
.Header-content h1{
	font-weight: 600;
	text-shadow: 2px 2px 3px #0B486B;	
}
.navbar{
	margin: 0;
	position: absolute;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
}
.navContent a{
	text-decoration: none;
}
.BgHeader{
	z-index: -1;
}
.BgHeader-overlay{	
	position: absolute;	
	background: #7ca5bb;
	opacity: 0.85;
	z-index: 1;
}
.Info-masajes{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 2em;
}
.Servicios{
	background: #F6F6F6;
	text-align: center;
}
.card{
	background: #594F4F;
}
.FormWrapper{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 100px;	
	margin-left: auto;
	margin-right: auto;
}
.form-control{
	margin: 0 auto;
}